
{{story.headline}}
<br>
{{story.author}}
<br>
<p> <img src={{story.image}} alt={{story.headline}}></p>
<br>
{{story.body}}


{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
<br>
{{#link-to 'index'}}HOME{{/link-to}}
{{#link-to 'about'}}About us{{/link-to}}
